.header-list > ul > li {
  padding-right: 3rem;
}
.filtered-arrival > div {
  border: .5px solid rgb(213, 212, 212);
  margin-right: 1px;
  padding: 10px 40px;
  font-size: large;
  font-weight: 600;
  transition: 0.5s;
}
.filtered-arrival > div:hover{
  background: rgb(243, 45, 45);
  color: white;
}
